name: run-unit-tests

on: push 
 
jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
                        
      - name: Setup node 18
        uses: actions/setup-node@v4
        with: 
          node-version: 18
          
      - name: Install node dependencies
        working-directory: ./xtext/editorserver
        run: npm ci
      
      - name: Code linting - Xtext Editor Server
        working-directory: ./xtext/editorserver
        run: npm run lint

      - name: Create lint report - Xtext Editor Server
        id: build-xtext-es
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
            name: Lint Results - Xtext Editor Server
            path: "xtext/editorserver/reports/lint-results.xml"
            reporter: java-junit
            fail-on-error: true

      - name: Run the unit tests
        id: run-unit-tests
        working-directory: ./xtext/editorserver
        if: success() || failure() && steps.build-xtext-es.outcome == 'success'
        run: npm run coverage

      - name: Create test report
        uses: dorny/test-reporter@v1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            name: Unit Test Results
            path: '**/reports/TESTS*.xml'
            reporter: java-junit
            fail-on-error: true

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: '**/reports/coverage/*.xml'
            targetdir: ./reports/
            reporttypes: MarkdownSummaryGithub
    
      - name: Output coverage to summary
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        run: cat ./reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY